* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


.App {
  font-family: sans-serif;
  text-align: center;
  color:#fff;
}
 
.social-container {
  background: #000;
  padding: 25px 50px;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color:#0073e6 ;
}

a.facebook {
  color: #ff5500;
}

a.twitter {
  color:#80ff80 ;
}

a.instagram {
  color:  #e6005c;
}